#result{
    display: none;
    background-color: rgb(245, 244, 244);
    width: 80%;
    text-align: center;
    border-radius: 40px;
}

#shareResult{
    background-color: rgb(245, 244, 244);
    width: 80%;
    text-align: center;
    border-radius: 40px;
}

.resultname{
    font-size: 26px;
}

.resultDesc{
    font-size: 19px;
}

.kakao{
    color: white;
    background-color: #4e9bed;
    font-size: 20px;
    border: 0px;
    border-radius: 20px;
}

.kakao:hover, .kakao:focus{
    background-color: whitesmoke;
    color: #4e9bed;
}